<header>
  <div class="fit_logo">
    <a routerLink="">
      <img src="./assets/Filtogo.svg" alt="logo">
    </a>
  </div>

  <nav class="wrapper_header_menu">
    <ul class="header_menu">
      <li><a routerLink="/fitnessServices">Фитнес-услуги</a></li>
      <li><a routerLink="/trainersPage">Инструкторы</a></li>
      <li><a routerLink="/contactsPage">Контакты</a></li>
      <li><a routerLink="/schedulePage">Pасписание</a></li>
    </ul>
  </nav>

   <div *ngIf="isAuth$|async; else unauthorized">
     <a routerLink="/userPage">
     <img class="header_ava" src="./assets/AvaHeader.svg" alt="ava">
     </a>
   </div>

  <ng-template #unauthorized>
     <fit-outlogin-header></fit-outlogin-header>
  </ng-template>
</header>
