<footer>
  <div class="wrapper_content_footer">
  <img class="logo_img" src="./assets/FitFooterLogo.svg" alt="logo">
  <div class="follow_us_here">Follow Us Here</div>
  <div class="icon-line">
    <a href="https://www.instagram.com/" target="_blank">
      <img class="footer_icon" src="./assets/FitInstagram_icon.svg" alt="Instagram icon">
    </a>

    <a href="https://www.pinterest.com/" target="_blank">
      <img class="footer_icon" src="./assets/FitPinterest_icon.svg" alt="Pinterest icon">
    </a>

    <a href="" target="_blank">
      <img class="footer_icon" src="./assets/FitSocials_icon.svg" alt="Socials icon">
    </a>

    <a href="https://www.linkedin.com/" target="_blank">
      <img class="footer_icon" src="./assets/FitLinkedIn_icon.svg" alt="LinkedIn icon">
    </a>

    <a href="https://support.google.com/" target="_blank">
      <img class="footer_icon" src="./assets/Fitgoogleplus_icon.svg" alt="googleplus icon">
    </a>

    <a href="https://en-gb.facebook.com/" target="_blank">
      <img class="footer_icon" src="./assets/FitFacebook_icon.svg" alt="Facebook icon">
    </a>

  </div>
  <span class="copyright">© Copyright - Designet by Stokin Denins</span>
  </div>
</footer>
